* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: gray;
  padding: 20px;
  text-align: center;
  color: black;
}
main{
   position: relative; 
}

a:link {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: midnightblue;
    background-color: transparent;
    text-decoration: underline;
  }

.cell {
    width: 4em;
    height: 4em;
    position: relative;
}

.black {
    background-color: gray;
}

.white {
    background-color: white;
}

table {
   margin: auto;
   border-spacing: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.15em;
}

.bottom-box{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.15em;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-color: #d9d9d9;
    background-color: #efefef;
    border-style: solid;
    border-width: 0.1em;
    width: 32em;
    margin: auto;
    position: relative;
}

.form-item{
    margin: 0.5em;
    border-spacing: 0;
    color: #301c1c;
    text-align: center;
    padding: 0 20px;

}
.styled-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.styled-input{
    width: 20em;
    height: 2em;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    font-family: 'Open Sans', sans-serif;
}

.top{
    z-index: 9;
}

.flex-div{
    justify-content: space-around;
    margin-top: 5em;
    margin-bottom: 3em;
    display: flex;
}

canvas {
    max-width: 50%;
    max-height: 50%;
}

.button {
    width: 10em;
    height: 2.5em;
    background-color: #bcbcbc;
    color: white;
    border-style: solid;
    border-width: 0;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 7px #666;
    padding: 7px 12px;
    cursor: pointer;
}

.button:hover{
    background-color: dimgray;
}

    .button:active {
        background-color: black;
        color: white;
        box-shadow: 0 5px #d3cece;
        transform: translateY(2px);
    }

.center-div{
    text-align: center;
}

.chart{
    width: 65em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

.footer{
    min-width: 800px;
    background-color: gray;
    color: #ffffff;
    text-align: center;
    padding: 0 20px;
}